# Git
.git/
.gitignore

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.pytest_cache/
*.db

# Frontend dev
frontend/node_modules/

# Docs & config
tests/
*.md
!.env.example

# Logs
logs/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
